---
// Contact section component - loads all content from data files
import { contactData, themeConfig, socialLinks } from '../data/index.js';
---

<article id={contactData.sectionId} class={contactData.wrapperClass}>
  <div 
    class={contactData.containerClass} 
    data-sal={themeConfig.animations.contact.container.animation} 
    data-sal-duration={themeConfig.animations.contact.container.duration}
  >
    <a 
      href={`mailto:${contactData.email}`} 
      class="button large scrolly" 
      data-sal={themeConfig.animations.contact.button.animation} 
      data-sal-delay={themeConfig.animations.contact.button.delay} 
      data-sal-duration={themeConfig.animations.contact.button.duration}
    >
      {contactData.buttonText}
    </a>
    <footer>
      <h3 
        class={themeConfig.classes.gradientText} 
        data-sal={themeConfig.animations.contact.title.animation} 
        data-sal-delay={themeConfig.animations.contact.title.delay} 
        data-sal-duration={themeConfig.animations.contact.title.duration}
      >
        {contactData.title}
      </h3>
      <ul 
        class="social" 
        data-sal={themeConfig.animations.contact.social.animation} 
        data-sal-delay={themeConfig.animations.contact.social.delay} 
        data-sal-duration={themeConfig.animations.contact.social.duration}
      >
        {socialLinks.all.map(link => (
          <li><a href={link.url} class={`icon brands ${link.icon}`}><span class="label">{link.label}</span></a></li>
        ))}
      </ul>
      <hr 
        data-sal={themeConfig.animations.contact.hr.animation} 
        data-sal-delay={themeConfig.animations.contact.hr.delay} 
        data-sal-duration={themeConfig.animations.contact.hr.duration}
      >
      <ul 
        id="copyright" 
        data-sal={themeConfig.animations.contact.copyright.animation} 
        data-sal-delay={themeConfig.animations.contact.copyright.delay} 
        data-sal-duration={themeConfig.animations.contact.copyright.duration}
      >
        <li set:html={contactData.footer.copyright}></li>
        <li>{contactData.footer.attribution.text} <a href={contactData.footer.attribution.url}>{contactData.footer.attribution.linkText}</a></li>
      </ul>
    </footer>
  </div>
</article>