---
// Hero section component - loads all content from data files
import { heroData, themeConfig, socialLinks } from '../data/index.js';
---

<article class={heroData.wrapperClass}>
  <div 
    id={heroData.sectionId} 
    class={heroData.layout.containerClass} 
    data-sal={themeConfig.animations.hero.container.animation} 
    data-sal-duration={themeConfig.animations.hero.container.duration}
  >
    <div class="row">
      <div class={heroData.layout.imageColumn}>
        <span 
          class={heroData.image.class} 
          data-sal={themeConfig.animations.hero.image.animation} 
          data-sal-delay={themeConfig.animations.hero.image.delay} 
          data-sal-duration={themeConfig.animations.hero.image.duration}
        >
          <img src={heroData.image.src} alt={heroData.image.alt} />
        </span>
      </div>
      <div 
        class={heroData.layout.contentColumn} 
        data-sal={themeConfig.animations.hero.content.animation} 
        data-sal-delay={themeConfig.animations.hero.content.delay} 
        data-sal-duration={themeConfig.animations.hero.content.duration}
      >
        <header>
          <h1>{heroData.greeting} <strong class={themeConfig.classes.gradientText}>{heroData.name}</strong></h1>
        </header>
        <p>{heroData.rolePrefix} <strong>{heroData.role}</strong>{heroData.roleIntroduction} <a href={heroData.university.url}>{heroData.university.name}</a>.</p>
        &nbsp
        <ul 
          class="social" 
          data-sal={themeConfig.animations.hero.social.animation} 
          data-sal-delay={themeConfig.animations.hero.social.delay} 
          data-sal-duration={themeConfig.animations.hero.social.duration}
        >
          {socialLinks.primary.map(link => (
            <li><a href={link.url} class={`icon brands ${link.icon}`}><span class="label">{link.label}</span></a></li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</article>